package pages

import "github.com/gstanleysilva/go-templ-htmx-bulma/templates/models"

templ Home(globalData models.GlobalData) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Users List</title>
		</head>
		<body>
			<h1>Hello { globalData.Admin.Name }</h1>
		</body>
	</html>
}
