package components

import "github.com/gstanleysilva/go-templ-htmx-bulma/models"

templ UserList(users []models.User) {
	<ul>
		for _, user := range users {
			<li><div>{ user.Name }</div></li>
		}
	</ul>
}
